h1 {
    font-weight: 600px;
}

.quick-facts {
    border: solid;
    border-color: red;
}

body {
    background-image: url("assets/background.jpg");
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300px;
    margin: auto;
    width: 50%;
}

main, header, footer {
    background-color: white;
    padding: 10px;
}

p {
    padding: 10px;
}

.center {
    text-align: center;
}

.linkedin {
    color: #0077B5;
}

.github {
    color: #333
}

.gmail {
    color: #ea4335;
}

img.social {
    height: 1.3em;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 50%;
    border-style: double;
}

ul, table {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: auto;
}